@{
    ViewData["Title"] = "Clientes";
}



<h4 class="display-4 o-title"><strong>Clientes</strong></h4>


<script src="~/js/customer.js" asp-append-version="true"></script> <!-- Incluir el archivo JS compilado -->

<!-- En tu vista (ej. Index.cshtml) -->
<table id="tblClientes" class="table table-striped" style="width:100%">

</table>