USE [CustomersTech]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerServices]    Script Date: 10/12/2024 05:03:58 p. m. ******/
DROP PROCEDURE [dbo].[GetCustomerServices]
GO
ALTER TABLE [dbo].[UserRole] DROP CONSTRAINT [FK_UserRol_Users]
GO
ALTER TABLE [dbo].[UserRole] DROP CONSTRAINT [FK_UserRol_Roles]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [FK_Services_Areas]
GO
ALTER TABLE [dbo].[Contracts] DROP CONSTRAINT [FK_Contracts_Services]
GO
ALTER TABLE [dbo].[Contracts] DROP CONSTRAINT [FK_Contracts_Customers]
GO
ALTER TABLE [dbo].[Contacts] DROP CONSTRAINT [FK_Contacts_Customers]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_created]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__services__idarea__4F7CD00D]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__services__servic__4E88ABD4]
GO
ALTER TABLE [dbo].[Contracts] DROP CONSTRAINT [DF__subscript__activ__5629CD9C]
GO
ALTER TABLE [dbo].[Contracts] DROP CONSTRAINT [DF__subscript__dateS__5441852A]
GO
ALTER TABLE [dbo].[Contracts] DROP CONSTRAINT [DF__subscript__idser__534D60F1]
GO
ALTER TABLE [dbo].[Contracts] DROP CONSTRAINT [DF__subscript__idcus__52593CB8]
GO
ALTER TABLE [dbo].[Areas] DROP CONSTRAINT [DF__area__area__49C3F6B7]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/12/2024 05:03:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 10/12/2024 05:03:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRole]') AND type in (N'U'))
DROP TABLE [dbo].[UserRole]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 10/12/2024 05:03:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Services]') AND type in (N'U'))
DROP TABLE [dbo].[Services]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/12/2024 05:03:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
DROP TABLE [dbo].[Role]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/12/2024 05:03:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customers]') AND type in (N'U'))
DROP TABLE [dbo].[Customers]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 10/12/2024 05:03:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contracts]') AND type in (N'U'))
DROP TABLE [dbo].[Contracts]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 10/12/2024 05:03:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contacts]') AND type in (N'U'))
DROP TABLE [dbo].[Contacts]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 10/12/2024 05:03:58 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Areas]') AND type in (N'U'))
DROP TABLE [dbo].[Areas]
GO
/****** Object:  User [miUsuario]    Script Date: 10/12/2024 05:03:58 p. m. ******/
DROP USER [miUsuario]
GO
/****** Object:  User [techRoot]    Script Date: 10/12/2024 05:03:58 p. m. ******/
DROP USER [techRoot]
GO
USE [master]
GO
/****** Object:  Database [CustomersTech]    Script Date: 10/12/2024 05:03:58 p. m. ******/
DROP DATABASE [CustomersTech]
GO
/****** Object:  Database [CustomersTech]    Script Date: 10/12/2024 05:03:58 p. m. ******/
CREATE DATABASE [CustomersTech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomersTech', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CustomersTech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomersTech_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CustomersTech_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomersTech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomersTech]
GO
/****** Object:  User [techRoot]    Script Date: 10/12/2024 05:03:59 p. m. ******/
CREATE USER [techRoot] FOR LOGIN [techRoot] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [miUsuario]    Script Date: 10/12/2024 05:03:59 p. m. ******/
CREATE USER [miUsuario] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [techRoot]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [techRoot]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [techRoot]
GO
ALTER ROLE [db_datareader] ADD MEMBER [miUsuario]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [miUsuario]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 10/12/2024 05:03:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[idarea] [int] IDENTITY(1,1) NOT NULL,
	[area] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[idarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 10/12/2024 05:03:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[rut] [int] NOT NULL,
	[phone] [varchar](50) NULL,
	[nameContact] [varchar](250) NULL,
	[email] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 10/12/2024 05:03:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[idcontract] [int] IDENTITY(1,1) NOT NULL,
	[rut] [int] NULL,
	[idservice] [int] NULL,
	[updated] [datetime] NULL,
	[active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idcontract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/12/2024 05:03:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[rut] [int] NOT NULL,
	[dv] [varchar](1) NULL,
	[customer] [varchar](200) NULL,
 CONSTRAINT [PK__customer__53EFD0A61A29FC8B] PRIMARY KEY CLUSTERED 
(
	[rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/12/2024 05:03:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[idrol] [int] NOT NULL,
	[rol] [varchar](20) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[idrol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 10/12/2024 05:03:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[idservice] [int] IDENTITY(1,1) NOT NULL,
	[service] [varchar](45) NULL,
	[idarea] [int] NULL,
	[enable] [int] NULL,
 CONSTRAINT [PK__services__25B469EA080C1DA6] PRIMARY KEY CLUSTERED 
(
	[idservice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 10/12/2024 05:03:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[iduser] [varchar](50) NULL,
	[idrol] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/12/2024 05:03:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[iduser] [varchar](50) NOT NULL,
	[name] [varchar](200) NULL,
	[email] [varchar](250) NULL,
	[pass] [varchar](max) NULL,
	[active] [int] NULL,
	[created] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[iduser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([idarea], [area]) VALUES (1, N'Cloud')
INSERT [dbo].[Areas] ([idarea], [area]) VALUES (2, N'Cyber')
SET IDENTITY_INSERT [dbo].[Areas] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([idcontract], [rut], [idservice], [updated], [active]) VALUES (1, 1, 1, CAST(N'2024-11-20T18:10:53.957' AS DateTime), 0)
INSERT [dbo].[Contracts] ([idcontract], [rut], [idservice], [updated], [active]) VALUES (2, 1, 9, CAST(N'2024-11-25T13:13:03.540' AS DateTime), 0)
INSERT [dbo].[Contracts] ([idcontract], [rut], [idservice], [updated], [active]) VALUES (4, 1, 2, CAST(N'2024-11-22T15:32:31.897' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
INSERT [dbo].[Customers] ([rut], [dv], [customer]) VALUES (1, N'K', N'2M Logistica')
INSERT [dbo].[Customers] ([rut], [dv], [customer]) VALUES (2, N'K', N'A B MARK SOCIEDAD DE ASESORIAS LIMITADA')
INSERT [dbo].[Customers] ([rut], [dv], [customer]) VALUES (3, N'K', N'A impresores S.A')
GO
INSERT [dbo].[Role] ([idrol], [rol]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([idrol], [rol]) VALUES (2, N'Viewer')
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([idservice], [service], [idarea], [enable]) VALUES (1, N'Azure', 1, 1)
INSERT [dbo].[Services] ([idservice], [service], [idarea], [enable]) VALUES (2, N'Cloner', 1, 1)
INSERT [dbo].[Services] ([idservice], [service], [idarea], [enable]) VALUES (3, N'DTO', 1, 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
INSERT [dbo].[UserRole] ([iduser], [idrol]) VALUES (N'rmelara', 1)
GO
INSERT [dbo].[Users] ([iduser], [name], [email], [pass], [active], [created]) VALUES (N'rmelara', N'Ronald Melara', N'ronald.melaraserrano@telefonica.com', N'$2a$11$rdQHxh1.EOB93ygM3HO5Uumbfq/uZeYT2kw9ISRw01jBD3ewb/LMq', 1, CAST(N'2024-12-05T10:52:31.633' AS DateTime))
GO
ALTER TABLE [dbo].[Areas] ADD  DEFAULT (NULL) FOR [area]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (NULL) FOR [rut]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (NULL) FOR [idservice]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (getdate()) FOR [updated]
GO
ALTER TABLE [dbo].[Contracts] ADD  DEFAULT (NULL) FOR [active]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF__services__servic__4E88ABD4]  DEFAULT (NULL) FOR [service]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF__services__idarea__4F7CD00D]  DEFAULT (NULL) FOR [idarea]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_created]  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_Customers] FOREIGN KEY([rut])
REFERENCES [dbo].[Customers] ([rut])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_Contacts_Customers]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Customers] FOREIGN KEY([rut])
REFERENCES [dbo].[Customers] ([rut])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Customers]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Services] FOREIGN KEY([idservice])
REFERENCES [dbo].[Services] ([idservice])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Services]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Areas] FOREIGN KEY([idarea])
REFERENCES [dbo].[Areas] ([idarea])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Areas]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRol_Roles] FOREIGN KEY([idrol])
REFERENCES [dbo].[Role] ([idrol])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRol_Roles]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRol_Users] FOREIGN KEY([iduser])
REFERENCES [dbo].[Users] ([iduser])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRol_Users]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerServices]    Script Date: 10/12/2024 05:03:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomerServices]
AS
BEGIN
    DECLARE @cols AS NVARCHAR(MAX);
    DECLARE @query AS NVARCHAR(MAX);

    -- Obtener los nombres de los servicios;
	SET @cols = (
		SELECT STRING_AGG(QUOTENAME(service), ', ')
		WITHIN GROUP (ORDER BY idarea, idservice)
		FROM services
	);

    -- Crear la consulta dinámica para el pivote
    SET @query = '
    SELECT 
        rut,
		dv,
		CONVERT(VARCHAR(12), rut ) + ''-'' + dv rutdv,
        customer AS cliente, ' + @cols + '
    FROM 
    (
        SELECT 
            c.rut,
			ISNULL(c.dv,'''') dv,
            c.customer,
            s.service,
            CASE WHEN s.idservice IS NULL OR co.active = 0 THEN NULL ELSE 1 END AS Active
        FROM 
            Customers c
        LEFT JOIN 
            Contracts co ON c.rut = co.rut
        LEFT JOIN 
            Services s ON co.idservice = s.idservice
    ) AS SourceTable
    PIVOT
    (
        MAX(Active)
        FOR service IN (' + @cols + ')
    ) AS PivotTable
    ORDER BY customer;';

    -- Ejecutar la consulta dinámica y devolver los resultados
    EXEC sp_executesql @query;
END;
GO
USE [master]
GO
